body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(164, 164, 231), rgb(117, 131, 169), rgb(116, 161, 246));
    margin: 0;
    overflow: auto; 
    min-height: 100vh; 
}